*.py[cod]

# C extensions
*.so

# Packages
*.egg*
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt
poetry.lock

# Unit test / coverage reports
cover/
.coverage*
!.coveragerc
.tox
nosetests.xml
.testrepository
.venv
htmlcov/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
doc/build

# pbr generates these
AUTHORS
ChangeLog

# Editors
*~
.*.swp
.*sw?

# Files created by releasenotes build
releasenotes/build

# Caches
.cache
.mypy_cache
.pytest_cache

# project-specific
httpstan/*_pb2.py
httpstan/*_pb2.pyi
httpstan/*.pb.cc
httpstan/*.pb.h
httpstan/lib
httpstan/include
httpstan/stanc
doc/openapi.yaml
httpstan/*.o
