dist: bionic
language: python
# NOTE: when `language: python` is set, using `compiler: clang` or
# `compiler: gcc` does nothing. These only work when `language: cpp`.
python: 3.7
matrix:
  include:
    - python: 3.7
    - python: 3.7
      env: CC=clang
    - python: 3.8
    - python: 3.8
      env: CC=clang
    - env: TOXENV=flake8
    - env: TOXENV=format
    - env: TOXENV=mypy
    - env: TOXENV=docs
cache: pip
before_install:
  - python --version
  - if [[ -n $CC ]]; then $CC --version; fi
  - sudo apt-get update
  - sudo apt-get install -y libprotobuf-dev protobuf-compiler
install:
  - pip install "poetry<2,>=1.0" tox
  - pip install "mypy-protobuf~=1.0"
  - make  # generate Python protobuf files
script:
  - |
      if [[ -n $TOXENV ]]; then
        tox
      else
        poetry install -v && poetry run pytest -s -v --cov=httpstan --cov-fail-under=93 tests
      fi
