version: ~> 1.0
language: python
# NOTE: when `language: python` is set, using `compiler: clang` or
# `compiler: gcc` does nothing. These only work when `language: cpp`.
python: 3.7
os: linux
dist: focal
jobs:
  - python: 3.7
  - python: 3.7
    env:
      - CC=clang
  - python: 3.8
  - python: 3.8
    env:
      - CC=clang
  - python: 3.9-dev
  - python: 3.9-dev
    env:
      - CC=clang
  - os: osx
    osx_image: xcode11.3
    language: generic
cache:
  - pip: true
    directories:
      - "$HOME/build/stan-dev/httpstan/build/archives"
before_install:
  - |
    if [ ${TRAVIS_OS_NAME} = "osx" ]; then
      python3 -m venv venv
      source venv/bin/activate
    fi
  - python --version
  - if [[ -n $CC ]]; then $CC --version; fi
install:
  # required poetry version can be relaxed when this is fixed: https://github.com/python-poetry/poetry/issues/2909
  - pip install "poetry==1.0.9"
  - make  # build shared libraries
script:
  # export test dependencies from pyproject.toml, install them
  - poetry export -f requirements.txt --dev -o requirements.txt && pip install -r requirements.txt
  - scripts/check || travis_terminate 1
  - poetry build -v && python -m pip install dist/*.whl
  - mkdir testdir && cd testdir && python -m pytest -s -v --cov=httpstan --cov-fail-under=93 ../tests
  # verify that this version of httpstan does not break pystan
  - |
    pip install --pre pystan &&
    python3 -c'import stan;assert stan.build("parameters {real y;} model {y ~ normal(0,1);}").sample()["y"] is not None'
