dist: bionic
language: python
# NOTE: when `language: python` is set, using `compiler: clang` or
# `compiler: gcc` does nothing. These only work when `language: cpp`.
python: 3.7
matrix:
  include:
    - env: TOXENV=py37
    - env: TOXENV=py37 CC=clang
    - env: TOXENV=flake8
    - env: TOXENV=format
    - env: TOXENV=mypy
    - env: TOXENV=docs
cache: pip
before_install:
  - python --version
  - if [[ -n $CC ]]; then $CC --version; fi
install:
  - pip install tox
  - pip install -r build-requirements.txt
  - make  # generate required C++ files
script:
  - travis_wait 60 tox
