version: ~> 1.0
language: python
# NOTE: when `language: python` is set, using `compiler: clang` or
# `compiler: gcc` does nothing. These only work when `language: cpp`.
python: 3.7
os: linux
dist: bionic
jobs:
  - python: 3.7
  - python: 3.7
    env:
      - CC=clang
  - python: 3.8
  - python: 3.8
    env:
      - CC=clang
  - os: osx
    osx_image: xcode11.3
    language: generic
cache:
  - pip: true
    directories:
      - "$HOME/build/stan-dev/httpstan/build/archives"
before_install:
  - |
    if [ ${TRAVIS_OS_NAME} = "osx" ]; then
      python3 -m venv venv
      source venv/bin/activate
    fi
  - python --version
  - if [[ -n $CC ]]; then $CC --version; fi
install:
  - pip install "poetry<2,>=1.0"
  # These are build requirements. poetry does not offer a way to specify build requirements.
  - pip install "mypy-protobuf==1.21"
  - make  # generate Python protobuf files and build shared libraries
script:
  # export test dependencies from pyproject.toml, install them
  - poetry export -f requirements.txt --dev -o requirements.txt && pip install -r requirements.txt
  - scripts/check || travis_terminate 1
  - poetry build -v && python -m pip install dist/*.whl
  - mkdir testdir && cd testdir && python -m pytest -s -v --cov=httpstan --cov-fail-under=93 ../tests
