# docs requirements
# these requirements are used by the documentation builder
# these are placed here (rather than in pyproject.toml) because we want to be able
# to build the documentation without installing the package (which is time-consuming)

aiohttp~=3.6
webargs~=5.5
appdirs~=1.4

sphinx~=7.2 # BSD
sphinx-autoapi~=3.0.0
sphinx-rtd-theme~=2.0.0
sphinxcontrib-openapi~=0.8.4
sphinxcontrib-redoc~=1.6

# required for building OpenAPI spec
apispec[yaml]~=6.0
marshmallow~=3.10  # needed for apidocs
