# docs requirements
# these requirements are used by the documentation builder
# these are placed here (rather than in pyproject.toml) because we want to be able
# to build the documentation without installing the package (which is time-consuming)

aiohttp~=3.6
webargs~=5.5
appdirs~=1.4

sphinx~=3.1 # BSD
sphinx-autoapi~=1.2
sphinx-rtd-theme<0.6,>=0.5
sphinxcontrib-openapi~=0.5
mistune==0.8.4  # see https://github.com/sphinx-contrib/openapi/issues/121
sphinxcontrib-redoc~=1.5

# required for building OpenAPI spec
apispec[yaml,validation]~=3.1
marshmallow~=3.2  # needed for apidocs
