# pbr includes files under source control by default
# MANIFEST.in contains additional exclude rules
global-exclude .git*
global-exclude *.png

# unused parts of the stan source
prune httpstan/lib/stan/make
prune httpstan/lib/stan/src/docs
prune httpstan/lib/stan/src/doxygen
prune httpstan/lib/stan/src/python
prune httpstan/lib/stan/src/test

# unused parts of the stan math source
prune httpstan/lib/stan/lib/stan_math*/doc
prune httpstan/lib/stan/lib/stan_math*/doxygen
prune httpstan/lib/stan/lib/stan_math*/lib/cpplint_*
prune httpstan/lib/stan/lib/stan_math*/lib/gtest_*
prune httpstan/lib/stan/lib/stan_math*/make
prune httpstan/lib/stan/lib/stan_math*/test
