# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

pbr~=5.4 # Apache-2.0
aiohttp~=3.6
appdirs~=1.4
webargs~=5.5
marshmallow~=3.2
numpy~=1.7
Cython~=0.29
apispec[yaml,validation]~=3.1
protobuf~=3.3
setuptools>=28.8
ujson~=1.3
