# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

pbr>=2.0 # Apache-2.0
aiohttp<3,>=2.0.7
lmdb>=0.92
appdirs<2,>=1.4.3
webargs<2,>=1.6.0
numpy<2,>=1.7
Cython<1,>=0.25.2
apispec>=0.21.0
